[submodule "Docs/doxygen-awesome-css"]
	path = Docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "Engine/Vendor/vcpkg"]
	path = Engine/Vendor/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "Engine/Vendor/portable-file-dialogs"]
	path = Engine/Vendor/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs.git
